/target
**/*.rs.bk
*.swp
*.swo
*~
.DS_Store
.vscode
__pycache__
*.pyc
.idea
*.iml
env/
.env
warden_id
known_hosts.json
warden.db

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
